{{#if resume.education.length}}
<div id="education" class="box">
	<h2><i class="fa fa-university ico"></i> Education</h2>
	{{#each resume.education}}
	<div class="achievement">
		<div class="header">
			<h3>{{institution}}</h3>
			<p><i class="fa fa-graduation-cap ico"></i> {{area}}, {{studyType}}</p>
			<p class="date">{{getYear startDate}} – {{#if endDate}}{{getYear endDate}}{{else}}present{{/if}}</p>
			{{#if gpa}}<p>GPA: {{gpa}}</p>{{/if}}
		</div>
		<div class="details">
			{{#if courses.length}}
			<ul class="list-group">
				{{#each courses}}
				<li class="list-group-item">{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
	</div>
	{{/each}}
</div>
{{/if}}