{{#if resume.projects.length}}
<div id="work" class="box">
<h2><i class= "fa fa-tools ico"></i> Projects</h2>
{{#each resume.projects}}
	<div class="job clearfix">
	<div class="row">
		<div class="details">
		{{#if name}}
		<div class="name">{{name}}</div>
        {{/if}}
		{{#if url}}
		<div class="address">
			<a href="{{url}}" target= "_blank"><i class="fa fa-globe ico"></i> {{url}}</a>
		</div>
		{{/if}}
		<div class="year">{{getMonth startDate}} {{getYear startDate}} – {{#if endDate}}{{getMonth endDate}} {{getYear endDate}}{{else}}present{{/if}}</div>
		
		</div>
	</div>
	<div class="row">
		<div class="job-details col-xs-11">
            {{#if entity}}
            <div><i class= "fa fa-bookmark ico"></i> {{entity}}</div>
            {{/if}}
            {{#if roles}}
            <div><i class= "fa fa-user-cog ico"></i> {{join roles ', '}}</div>
            {{/if}}

            <div class="description">
                {{{description}}}
                {{#if highlights.length}}
                <ul class="list-group">
                {{#each highlights}}
                    <li class="list-group-item">
                        <div>{{this}}</div>
                    </li>
                {{/each}}
                </ul>
                {{/if}}
                {{#if keywords.length}}
				<div>
                    {{#each keywords}}
                    <span class= "skill badge">{{this}}</span>
                    {{/each}}
                </div>
				{{/if}}
            </div>
		</div>
	</div>
	</div>
{{/each}}
</div>
{{/if}}