{{#if resume.volunteer.length}}
<div id="volunteer" class="box">
<h2><i class= "fa fa-users ico"></i> Volunteer</h2>
{{#each resume.volunteer}}
	<div class="job clearfix">
	<div class="row">
		<div class="details">
		<div class="where">{{organization}}</div>
		{{#if website}}
		<div class="address">
			<a href="{{website}}" target= "_blank"><i class="fa fa-globe ico"></i> {{website}}</a>
		</div>
		{{/if}}
		<div class="year">{{getMonth startDate}} {{getYear startDate}} – {{#if endDate}}{{getMonth endDate}} {{getYear endDate}}{{else}}present{{/if}}</div>
		</div>
	</div>
	<div class="row">
		<div class="job-details col-xs-11">
		<div class="profession">{{position}}</div>
		<div class="description">
			{{{summary}}}
			{{#if highlights.length}}
			<ul class="list-group">
			{{#each highlights}}
			<li class="list-group-item">{{{.}}}</li>
			{{/each}}
			</ul>
			{{/if}}
		</div>
		</div>
	</div>
	</div>
{{/each}}
</div>
{{/if}}