{{#if resume.volunteer.length}}
<div id="volunteer" class="box">
	<h2><i class= "fa fa-users ico"></i> Volunteer</h2>
	{{#each resume.volunteer}}
	<div class="achievement">
		<div class="header">
			{{#if organization}}
			<h3>{{organization}}</h3>
			{{/if}}
			{{#if url}}
			<p class="address">
				<a href="{{url}}" target= "_blank"><i class="fa fa-globe ico"></i> {{url}}</a>
			</p>
			{{/if}}
			{{#if startDate}}
			<p class="date">{{getMonth startDate}} {{getYear startDate}} – {{#if endDate}}{{getMonth endDate}} {{getYear endDate}}{{else}}present{{/if}}</p>
			{{/if}}
		</div>
		<div class="details">
			{{#if position}}
			<h3>{{position}}</h3>
			{{/if}}
			{{#if summary}}
			<p>{{summary}}</p>
			{{/if}}
			{{#if highlights.length}}
			<ul class="list-group">
			{{#each highlights}}
			<li class="list-group-item">{{{.}}}</li>
			{{/each}}
			</ul>
			{{/if}}
		</div>
	</div>
	{{/each}}
</div>
{{/if}}